%h2
  Top Queries
= render :partial => 'quebee/queries/list', :locals => { :queries => @top_queries }

%hr

%h2
  New Queries
= render :partial => 'quebee/queries/list', :locals => { :queries => @new_queries }

%hr

%h2
  Recent Queries
= render :partial => 'quebee/query_executions/list', :locals => { :query_executions => @recent_queries, :show_query => true }

%hr
