<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Query Blog - Ask a question with SQL?  Share a solution!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/query_blog.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="/javascripts/table/sortable.js"></script>
  </head>
  <body>
    <div class="top_nav"><%= partial 'layout/top_nav' %></div>
    <div class="message"><%#= message[:notice] %></div>
    <div class="left_nav"><%#= partial 'layout/left_nav' %></div>
    <div class="main_content"><%= catch_content :for_layout %></div>
    <div class="right_nav"><%#= partial 'layout/right_nav' %></div>
    <div class="bottom_nav"><%= partial 'layout/bottom_nav' %></div>
  </body>
</html>
