%h2
  Top Queries
= partial 'queries/list', :queries => @top_queries

%hr

%h2
  New Queries
= partial 'queries/list', :queries => @new_queries

%hr

%h2
  Recent Queries
= partial 'query_executions/list', :query_executions => @recent_queries, :show_query => true

%hr
